{% extends 'master' %}

{% block content %}
<div class="col-md-5">

    {% if error %}
        <div class="alert alert-danger" role="alert">Hiba történt!</div>
    {% endif %}

    {{ form.open({action: 'UserController.register', class: 'form-horizontal'}) }}

        {{ csrfField }}

        <h2 class="form-title">Regisztráció</h2>

        <hr>

        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">Felhasználónév:</label>
            <div class="col-sm-9">
                {{ form.text('name', null, {class: 'form-control'}) }}
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email cím:</label>
            <div class="col-sm-9">
                {{ form.email('email', null, {class: 'form-control'}) }}
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Jelszó:</label>
            <div class="col-sm-9">
                {{ form.password('password', null, {class: 'form-control'}) }}
            </div>
        </div>

        <div class="form-group">
            <label for="lastname" class="col-sm-3 control-label">Vezetéknév:</label>
            <div class="col-sm-9">
                {{ form.text('lastname', null, {class: 'form-control'}) }}
            </div>
        </div>

        <div class="form-group">
            <label for="firstname" class="col-sm-3 control-label">Keresztnév:</label>
            <div class="col-sm-9">
                {{ form.text('firstname', null, {class: 'form-control'}) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-4">
                {{ form.submit('Regisztráció', null, {class: 'btn btn-primary'}) }}
            </div>
            <div class="col-sm-4">
                <a href="/login" class="btn btn-default">Bejelentkezés</a>
            </div>
        </div>

    {{ form.close() }}

</div>
{% endblock %}